

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	background-color: #f3fb2d;
}

.navbar-inverse{
	background-image: None;
	background-repeat: None;
	background-color: #b4e026;
}



.jumbotron{
	background-color: #f6f;
}





